* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*aqui, usamos o pseud-selector ":root" no lugar de "html" e ultizamos "--text-color: white;" para que o código entenda que tudo que tiver essa expressão, tenha a cor branca. Vamos subistibuir tudo que tem a cor branca por esta expressão, substituindo APENAS a parte que diz respeito a cor em si, não a linha completa. Ex:#ffffff ou White.*/
:root {
  --text-color: white;
  --gb-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --gb-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
}
/* Body */
body {
  background: var(--gb-url) no-repeat top center/cover;
  height: 100vh;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

/* Container */
#Container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0px 24px;
}

/* Profile */
#profile {
  text-align: center;
  padding: 24px;
}
#profile img {
  width: 112px;
}
#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/* Switch */

#switch {
  /* permite que o button se mova mais "livremente" pelo switch e manter sobre o absoluto*/
  position: relative;
  width: 64px;

  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0px;
  border-radius: 50%;

  /* Joga a infomação da # para a cima */
  position: absolute;
  top: 50%;
  /* Indica a posição inicial do botão */
  left: 0;
  /* Muda o andar da informação*/
  z-index: 1;
  /* Permite a movitação do elemento na vertical com o "translateY" */
  transform: translateY(-50%);

  animation: slide-back 0.2s;
}

/* Configuração do button para a versão "light" */
/* É necessário escrever as tags da forma exata que eles estão representadas. Ex: ":root", "#switch", ".light", etc... */
.light #switch button {
  animation: slide-in 0.2s forwards;
}

#switch button:hover {
  outline: 8px solid var(--highlight-color);
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/* Links */
ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0px;
}
ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
}

/* pseudo-selector*/
ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--stroke-color);
}

/*centraliza os ícones de acordo com a border-box , dá o espaço entre os icones e aumenta o tamanho dos icones para 24px (pois é, "font-size" serve para as imagens apesar do nome*/
#social-links {
  display: flex;
  justify-content: center;

  padding: 24px 0px;

  font-size: 24px;
}

/*trasforma o filho #social-links a:hover imponto as configurações para centralizar as imagens dentro dos backgrounds*/
#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  transition: background 0.2s;
  border-radius: 50%;
}

/*trabalha as transições dos icones, da espaço para do preenchimento e arredonda o background para deixa-lo como uma elípce*/
#social-links a:hover {
  background: var(--highlight-color);
}

/*rodapé do projeto*/
footer {
  padding: 24px 0px;
  text-align: center;
  font-size: 14px;
}

/* media queries */

@media (min-width: 700px) {
  :root {
    --gb-url: url(./assets/bg-desktop.jpg);
  }

  .light {
    --gb-url: url(./assets/bg-desktop-light.jpg);
  }
}

/* animation */
/* fará com que o botão deslize suavimente da esquerda para a direita*/
@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
